In [7]:
# https://www.youtube.com/watch?v=h4hOPGo4UVU&index=9&list=PLeo1K3hjS3uuASpe-1LjfG5f14Bnozjwy

import pandas as pd

In [8]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
})
df1

       city  temperature
0  new york           21
1   chicago           14
2   orlando           35

In [6]:

df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75],
})
df2

       city  humidity
0   chicago        65
1  new york        68
2   orlando        75

In [5]:
df3 = pd.merge(df1, df2, on="city") # Merges dataframes on which column you want to perform
df3

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

## What about uncommon column names?

In [9]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
})
df1

       city  temperature
0  new york           21
1   chicago           14
2   orlando           35

In [ ]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","San Fransico"],
    "humidity": [65,68,75],
})
df2

In [11]:
df3 = pd.merge(df1, df2, on="city") 
df3

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65

## pd.merge does an INNER JOIN or INTERSECTION on the dataframes that are passed through

## We want to take an OUTTER JOIN or UNION of the dataframes passed through

In [15]:
df3 = pd.merge(df1, df2, on="city", how="outer", indicator=True) #So how="inner" is defaluted
df3
# indicator=True helps us identify what was merged

           city  temperature  humidity      _merge
0      new york         21.0      68.0        both
1       chicago         14.0      65.0        both
2       orlando         35.0       NaN   left_only
3  San Fransico          NaN      75.0  right_only

In [14]:
df_4 = pd.merge(df1, df2, on="city", how="left") #left and right is deterimed by the order in which dfs are called
df_4

       city  temperature  humidity
0  new york           21      68.0
1   chicago           14      65.0
2   orlando           35       NaN