### Kaggle Dataset: https://www.kaggle.com/spscientist/students-performance-in-exams/version/1

In [12]:
# Pandas is a library for basic data analysis
import pandas as pd

# NumPy is a library for advanced mathematical computation
import numpy as np

# MatPlotLib is a library for basic data visualization
import matplotlib.pyplot as plt

# SeaBorn is a library for advanced data visualization
import seaborn as sns

import glob

In [13]:
df = pd.read_csv('../datasets/StudentsPerformance.csv')

In [14]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## At first glance, the data seems pretty clean
* No NaN values by columns
* Columns are type consistent
* There is only a single dataframe

### Cleaning done:
* Added a score average column to the dataframe: (math score, reading score, writing score)/3

# Cleaning

In [15]:
df['score average'] = np.nan

In [16]:
for i, row in df.iterrows():
    score_average = row["math score"] + row["reading score"] + row["writing score"])//3
    score_average = pd.to_numeric(score_average, "integer")
    df.set_value(i,'score average',score_average)

/Users/natepill/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,score average
0,female,group B,bachelor's degree,standard,none,72,72,74,72.0
1,female,group C,some college,standard,completed,69,90,88,82.0
2,female,group B,master's degree,standard,none,90,95,93,92.0
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.0
4,male,group C,some college,standard,none,76,78,75,76.0

In [18]:
''' Testing to see if there are inconsistencies in the datatype'''

# df['gender'].unique()
# df['race/ethnicity'].unique()
# df['parental level of education'].unique()
# df['lunch'].unique()
# df['test preparation course'].unique()
# df['math score'].unique()
# df['reading score'].unique()
# df['writing score'].unique()

' Testing to see if there are inconsistencies in the datatype'

In [8]:
## Comparing the test scores of males and females wholistically
## Plot the trends of the correlation between parental level of education and averaged test scores
## Compare the test scores for each subject by gender (Thinking simple histogram)
## What is the affect of lunch type on averaged test scores

# An “Executive Summary” of Your Findings
* Your presentation should begin with a highly visual “executive summary” slide or page that gives a brief overview of all the important aspects about your project, including but not limited to:
* Where your data came from
* What questions you were looking to answer
* A brief summary of your methodology for answering these questions
* Graphs and other visualizations that clearly explain your findings (ideally, conclusions)