# MS Summer Academy NPS Data Exploration (2016-2017)

## Questsions Asked:

    * How many promoters, passives, and detractors are there in both years? How do the scores differ by year?
    * What track of students had the best experience at the summer academy? What about the worst experience?
    * Did students feel as though the pacing increased as the program went on?
    * Which location had the best overall experience?
    * Did students at the NY location have a better or worse expeience as the program went on?

# General NPS Cleaning Process:

- Step 1: Import, Clean, and Aggregate Weeks 1-7 for 2016 Data
- Step 2: Import and Clean Week 8 for 2016 Data
- Step 2.5: Aggregate Weeks 1-7 with Week 8 to produce Full 2016 Dataset
- Step 3: Import and Clean 2017 Data
- Step 3.5: Aggregate Full 2016 Data with 2017 Data to produce Complete Dataset

### Promoters, Passives, Detractors for 2017: 78, 34, 8

In [1]:
# Pandas is a library for basic data analysis
import pandas as pd

# NumPy is a library for advanced mathematical computation
import numpy as np

# MatPlotLib is a library for basic data visualization
import matplotlib.pyplot as plt

# SeaBorn is a library for advanced data visualization
import seaborn as sns

import glob

## _Stretch Challenge_:

### Functionalize Data Manipulation code!

In [2]:
sns.set(style="white", context="notebook", palette="deep")

COLOR_COLUMNS = ["#66C2FF", "#5CD6D6", "#00CC99", "#85E085", "#FFD966", "#FFB366", "#FFB3B3", "#DAB3FF", "#C2C2D6"]

sns.set_palette(palette=COLOR_COLUMNS, n_colors=4)

---

# Data Cleaning and Aggregation

In [3]:
REL_PATH_DIRECTORY = "../datasets/SA_Feedback_Surveys_FINAL/2016/"
ALL_BUT_8_PATH = "Anon*.csv"

THE_8_PATH = "Week 8 Feedback (2016, incomplete) - results.csv"

### Weeks 1-7 (2016)

- NOTE: Data is _slightly_ different across various weeks and locations. **Approach with caution!**

In [4]:
all_but_8_2016_files = glob.glob(REL_PATH_DIRECTORY + ALL_BUT_8_PATH)

In [5]:
all_but_8_2016_files

['../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 7 Feedback - Taipei.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 6 Feedback - Tokyo.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 1 Feedback - Singapore.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 7 Feedback - LA.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 4 Feedback - SF.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 5 Feedback - SV.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 4 Feedback - SG.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 6 Feedback - NY.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 5 Feedback - HK.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 1 Feedback - SF.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 2 Feedback - LA.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 6 Feedback - Taipei.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 3 Feedback - NY.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 6 Feedback - LA.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 5 Feedback - SF.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 5 Feedback - SG.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 4 Feedback - SV.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 7 Feedback - NY.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 3 Feedback - LA.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 2 Feedback - NY.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 1 Feedback - SV.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 5 Feedback - LA.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 6 Feedback - SF.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 6 Feedback - SG.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 7 Feedback - SV.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 4 Feedback - NY.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 3 Feedback - SF.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 1 Feedback - NY.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 2 Feedback - SV.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 3 Feedback - SG.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 4 Feedback - LA.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 7 Feedback - SF.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 6 Feedback - SV.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 6 Feedback - HK.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 5 Feedback - NY.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 2 Feedback - SF.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 1 Feedback - LA.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 2 Feedback - SG.csv',
 '../datasets/SA_Feedback_Surveys_FINAL/2016/Anon Week 3 Feedback - SV.csv']

## GOAL: Place _Week_ and _Location_ data in each 2016 (not Week 8) DF

In [6]:
filename = "Anon Week 1 Feedback - LA.csv"
fileparts = filename.split(" ")

test_file_path = REL_PATH_DIRECTORY + filename
df_test = pd.read_csv(test_file_path)

In [7]:
week_num, location = int(fileparts[2]), fileparts[5].split(".")[0]

In [8]:
df_garbage = pd.DataFrame([1, 2, 5, 3, 4, 1], columns=["trash_nums"])
df_garbage["Week"], df_garbage["Location"] = week_num, location
df_garbage

   trash_nums  Week Location
0           1     1       LA
1           2     1       LA
2           5     1       LA
3           3     1       LA
4           4     1       LA
5           1     1       LA

In [9]:
 
# #Could set location and week columns manually to each file by setting a new DF for each filepath and running this function 
# def addLocationAndWeek(filepath, week, location):
#     location_and_week_arr
#     df = pd.read_csv(filepath)
#     df["Week"] = week
#     df["Location"] = place
#     return dataframe






# week = 48 - 53 
# import re
# # re.find()

# list_of_weeks = list()
# for filepath in all_but_8_2016_files:
#     week = (filepath[48:55])
#     list_of_weeks.append(week)
#     print(week)

In [10]:
def read_all_files():
    data_arr = list()
    for filename in all_but_8_2016_files:
        # When reading each file, we grab the Week & Location data and add it to two new columns
        week, location = _get_week_and_location(filename)
        df = pd.read_csv(filename)
        df["Week"], df["Location"] = week, location
        data_arr.append(df)
    return data_arr

def _get_week_and_location(filename):
    fileparts = filename.split(" ")
    week, location = int(fileparts[2]), fileparts[5].split(".")[0]
    return week, location

data = read_all_files()

### NOTE: The bad dataframe with `Unnamed: 0` is the `Anon Week 1 Feedback - SV.csv` DF

The `Unnamed: 0` column/feature is measuring Timestamp data (Datetime)

### NOTE: The bad dataframe with no `Timestamp` or `Unnamed: 0` is the `Anon Week 5 Feedback - SF.csv` DF

In [11]:
youre_the_one = None

for df in data:
    if "Unnamed: 0" not in df.columns and "Timestamp" not in df.columns:
        youre_the_one = df
        
youre_the_one

,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?,Week,Location
0,Apps,3,3,5,SF
1,Apps,4,3,5,SF
2,Apps,4,3,5,SF
3,Apps,4,4,5,SF
4,Apps,3,3,5,SF
5,Apps,5,3,5,SF
6,Apps,3,2,5,SF
7,Apps,5,3,5,SF
8,Apps,1,3,5,SF
9,Apps,4,3,5,SF
10,Apps,5,3,5,SF
11,Apps,4,4,5,SF
12,Apps,3,4,5,SF
13,Games,4,3,5,SF
14,Games,5,3,5,SF
15,Games,1,5,5,SF
16,Games,5,3,5,SF
17,Games,4,3,5,SF
18,Games,5,3,5,SF
19,Intro,5,2,5,SF
20,Intro,4,3,5,SF
21,Intro,3,5,5,SF
22,Intro,5,3,5,SF
23,Intro,5,4,5,SF
24,Intro,5,3,5,SF
25,Intro,5,3,5,SF
26,Intro,5,3,5,SF
27,Intro,5,2,5,SF
28,Intro,5,3,5,SF
29,Intro,5,3,5,SF
30,Intro,4,3,5,SF
31,Intro,5,3,5,SF
32,Intro,5,3,5,SF
33,Intro,4,4,5,SF
34,Intro,5,3,5,SF
35,Intro,5,3,5,SF
36,VR,5,4,5,SF
37,VR,5,4,5,SF
38,VR,4,4,5,SF
39,VR,5,3,5,SF
40,Intro,3,3,5,SF
41,Intro,3,3,5,SF

In [12]:
# week_one_through_seven_df = pd.DataFrame(index=index, columns=columns)
# Find a way to grab `week` and `location` data from filenames
# Find all potential unique columns
# Use unique columns to create master DF and put all data into that one (merging, copies)


column_names = dict()

for df in data:
    for column in df.columns:
        if column in column_names:
            column_names[column] += 1
        else:
            column_names[column] = 1
            
column_names

# for df in data:
#     week_one_through_seven_df = pd.concat(df)
    
# week_one_through_seven_df
# # week_one_through_seven_df .concat()

    
# week_one_through_seven_df + df
    
# week_one_through_seven_df

# rating = 'How would you rate your overall satisfaction with the Summer Academy this week?'
# data[data[rating]==4]

# dataframe["Week"] = week
# dataframe["Location"] = place

{'Timestamp': 37,
 'How would you rate your overall satisfaction with the Summer Academy this week?': 39,
 'How well is the schedule paced?': 33,
 'Week': 39,
 'Location': 39,
 'How well are the tutorials paced?': 6,
 'What track are you in?': 24,
 'Unnamed: 0': 1}

## TODO: Aggregate Schedule and Tutorial data into _Pacing_ column (mutual exclusion)

## Checking Each 2016 (not Week 8) DF for Unique Values

In [66]:
# Functionalized grabbing unique values

def check_unique_values_by_column(col_name):
    unique_values = set()
    for df in data:
        if col_name in df.columns:
            df_vals = df[col_name].unique().tolist()
            unique_values.update(df_vals)
    return unique_values

In [67]:
col_name_list = list(column_names.keys())
col_name_list

['Timestamp',
 'How would you rate your overall satisfaction with the Summer Academy this week?',
 'How well is the schedule paced?',
 'Week',
 'Location',
 'How well are the tutorials paced?',
 'What track are you in?',
 'Unnamed: 0']

### Create Dictionary of Unique Values per Column Name over All Data

In [99]:
uniques_dict = dict()
# For each column name in our list above, we create a dictionary element where...
# KEY: Column Name
# VALUE: All Unique Values for that Column Name across All Data
for index in range(8):
    col_name = col_name_list[index]
    uniques_dict[col_name] = check_unique_values_by_column(col_name)

In [100]:
uniques = list(uniques_dict["How would you rate your overall satisfaction with the Summer Academy this week?"])
uniques

[0, 1, 2, 3, 4, 5]

In [102]:
'''Map errors  to 0, then change datatype of column to type int '''
  
satisfaction_map = dict(zip(uniques, [1, 2, 3, 4, 5, 4, 3, 5, 0]))

satisfaction_column = 'How would you rate your overall satisfaction with the Summer Academy this week?'

for df in data:
    if 'How would you rate your overall satisfaction with the Summer Academy this week?' in df:
#         if '#REF!' in df[satisfaction_column]:
        df['How would you rate your overall satisfaction with the Summer Academy this week?'] = df['How would you rate your overall satisfaction with the Summer Academy this week?'].map(satisfaction_map).astype(int)
#         df['How would you rate your overall satisfaction with the Summer Academy this week?'] = df['How would you rate your overall satisfaction with the Summer Academy this week?'].astype(int)
            


for df in data:
    if 'How would you rate your overall satisfaction with the Summer Academy this week?' in df:
        print(df['How would you rate your overall satisfaction with the Summer Academy this week?'].unique(), "\n\n")

[5 4]


[5 4]


[4 5]


[5 4]


[5 4]


[4 5]


[4 5]


[4 5]


[4 5]


[5 4]


[4 5]


[5 4]


[4 5]


[5 3 4]


[5 4 3]


[4 5]


[4 5]


[5 4]


[4 5]


[5 4]


[4 5]


[5 4]


[4 5 3]


[4 5]


[5 4]


[5 4]


[5 3 4]


[5 4]


[5 4]


[4 5]


[5 4]


[5 4 3]


[4 5]


[5 4]


[5 4]


[4 5 3]


[5 4]


[4 5]


[5 4 2]

In [ ]:
# 2016 NOT Week 8 data dictionary mappings 

''' Mapping Schedule pacing to convert np.NaN and errors to 0 so that we can only deal with values greater than 0 in 
our calculations and making sure values are integers. '''

'''Our collection of mapping dictionaries to deal with np.NaN, #REF!, and wrong datatypes'''

schedule_pacing_map = {
    '#REF!': 0,
    np.NaN: 0, 
    1: 1, 
    2: 2, 
    '2': 2, 
    3: 3, 
    '3': 3, 
    '4': 4, 
    4: 4, 
    5: 5, 
    '5': 5
}


for df in data:
    if "How well is the schedule paced?" in df:
        df["How well is the schedule paced?"] = df["How well is the schedule paced?"].map(schedule_pacing_map)
        df = df.drop(df[df["How well is the schedule paced?"] > 0].index)

In [98]:
for df in data:
    if 'How would you rate your overall satisfaction with the Summer Academy this week?' in df:
        print(df['How would you rate your overall satisfaction with the Summer Academy this week?'].unique(), "\n\n")

[3 4 5]


[3 4 5]


[2 3 4 5]


[3 5 4]


[5 4 3]


[4 5 3 2]


[4 3]


[2 4 5 3]


[4 5]


[3 4 5]


[4 3 5]


[5 4 3]


[4 5 3]


[5 3 1 4]


[3 4 5 1]


[4 3 2]


[2 3 4 5]


[3 5 4]


[4 5]


[3 4 5]


[2 3 4 5]


[3 4 5]


[4 3 2 5 1]


[4 5 3]


[3 5 4 2]


[5 4]


[3 5 1 4]


[3 4 5]


[3 4 5]


[4 5]


[5 3 4]


[5 3 4 1 2]


[4 5 3 2]


[5 4]


[5 4 3]


[2 3 4 5 1]


[3 4 5]


[4 3]


[5 4 3 0]

In [111]:
col_name_list

['Timestamp',
 'How would you rate your overall satisfaction with the Summer Academy this week?',
 'How well is the schedule paced?',
 'Week',
 'Location',
 'How well are the tutorials paced?',
 'What track are you in?',
 'Unnamed: 0']

In [123]:
unique_types = set()

for item in check_unique_values_by_column(col_name_list[0]):
    unique_types.update([type(item)])
    
# unique_types
print(col_name_list[0], ": ", list(unique_types))

Timestamp :  [<class 'str'>, <class 'float'>]

### Checks all unique datatypes across every feature across every dataset

In [133]:
type_dict

{'Timestamp': [str, float],
 'How would you rate your overall satisfaction with the Summer Academy this week?': [int],
 'How well is the schedule paced?': [str, int],
 'Week': [int],
 'Location': [str],
 'How well are the tutorials paced?': [int],
 'What track are you in?': [str],
 'Unnamed: 0': [str]}

In [ ]:
def check_unique_values_by_column(col_name):
    unique_values = set()
    for df in data:
        if col_name in df.columns:
            df_vals = df[col_name].unique().tolist()
            unique_values.update(df_vals)
    return unique_values

In [178]:
def dict_of_unique_types():
    
    '''Returns a dict (KEY: Unique Columns in all dataframes, VALUE: Set of unique value types)'''
    type_dict = dict()

    for feature in range(len(col_name_list)):
        unique_types = set()

        for item in check_unique_values_by_column(col_name_list[feature]):
            unique_types.update([type(item)])

        type_dict[col_name_list[feature]] = list(unique_types)
        
type_dict

{'Timestamp': [str, float],
 'How would you rate your overall satisfaction with the Summer Academy this week?': [int],
 'How well is the schedule paced?': [str, int],
 'Week': [int],
 'Location': [str],
 'How well are the tutorials paced?': [int],
 'What track are you in?': [str],
 'Unnamed: 0': [str]}

In [109]:
# 'What track are you in?' looks pretty clean
unique_track_vals = check_unique_values_by_column('What track are you in?')
unique_track_vals

{'Apps', 'Average:', 'Games', 'Intro', 'VR'}

## Example Magic Type Mapper!

In [183]:
def map_types_to_value(df, column_name, type_to_change, change_to_value):
    '''Takes a Pandas Dataframe, column name, object type to change, and the value to replace with
        Returns a "mapped" dataframe based on value types that you want to replace'''
    for index, item in df.iterrows():
        changer = None
        if type(item[0]) == type_to_change:
            changer = change_to_value
            return df.set_value(index, column_name, changer)

In [185]:
johnny = pd.DataFrame(data=["asdf", "zxcv", "qwer", "pou", "ncmv", True], columns=["chen"])

mapped = map_types_to_value(johnny, "chen", bool, "WORKING")

mapped

# for index, item in johnny.iterrows():
#     changer = None
#     if type(item[0]) == bool:
#         changer = np.nan
#         johnny.set_value(index, "chen", changer)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys

      chen
0     asdf
1     zxcv
2     qwer
3      pou
4     ncmv
5  WORKING

In [180]:
johnny

   chen
0  asdf
1  zxcv
2  qwer
3   pou
4  ncmv
5   NaN

In [ ]:
def map_types_to_value(df, column_name, type_to_change, change_to_value):
    '''Takes a Pandas Dataframe and type object to return a "mapped" dataframe based on value types'''
    for index, item in df.iterrows():
        changer = None
        if type(item[0]) == typeof:
            changer = change_to_value
            df.set_value(index, column_name, changer)

In [112]:
unique_timestamp_vals = check_unique_values_by_column('Timestamp')
unique_timestamp_vals

for df in data:
    if 'Timestamp' in df.columns:
        #Potentially map all strings to pandas.Timestamps, might need regex
        #map non-strings to empty strings

{'6/23/2016 13:17:43',
 '6/23/2016 13:19:38',
 '6/23/2016 13:19:41',
 '6/23/2016 13:19:58',
 '6/23/2016 13:21:46',
 '6/23/2016 14:44:06',
 '6/23/2016 14:48:47',
 '6/23/2016 15:55:12',
 '6/23/2016 16:11:39',
 '6/23/2016 16:14:04',
 '6/23/2016 22:07:29',
 '6/23/2016 22:09:23',
 '6/23/2016 22:11:39',
 '6/23/2016 22:11:44',
 '6/23/2016 22:13:04',
 '6/23/2016 22:13:09',
 '6/23/2016 22:13:25',
 '6/23/2016 22:15:33',
 '6/23/2016 22:24:53',
 '6/23/2016 22:41:02',
 '6/23/2016 23:56:36',
 '6/24/2016 0:18:42',
 '6/24/2016 11:05:49',
 '6/24/2016 11:34:57',
 '6/24/2016 11:37:05',
 '6/24/2016 11:40:59',
 '6/24/2016 11:41:34',
 '6/24/2016 11:41:42',
 '6/24/2016 11:41:47',
 '6/24/2016 11:42:30',
 '6/24/2016 11:46:04',
 '6/24/2016 11:47:36',
 '6/24/2016 11:53:20',
 '6/24/2016 11:53:29',
 '6/24/2016 12:58:35',
 '6/24/2016 13:05:10',
 '6/24/2016 13:07:03',
 '6/24/2016 13:07:59',
 '6/24/2016 13:09:46',
 '6/24/2016 13:11:15',
 '6/24/2016 13:16:51',
 '6/24/2016 13:18:32',
 '6/24/2016 13:20:34',
 '6/24/2016 13:20:57',
 '6/24/2016 13:21:09',
 '6/24/2016 13:27:04',
 '6/24/2016 13:27:16',
 '6/24/2016 13:27:52',
 '6/24/2016 13:30:31',
 '6/24/2016 13:32:17',
 '6/24/2016 13:32:30',
 '6/24/2016 13:33:35',
 '6/24/2016 13:33:49',
 '6/24/2016 13:34:08',
 '6/24/2016 13:34:12',
 '6/24/2016 13:34:38',
 '6/24/2016 13:35:31',
 '6/24/2016 13:35:43',
 '6/24/2016 13:36:03',
 '6/24/2016 13:36:37',
 '6/24/2016 13:36:49',
 '6/24/2016 13:37:25',
 '6/24/2016 13:38:21',
 '6/24/2016 13:38:29',
 '6/24/2016 13:38:57',
 '6/24/2016 13:39:47',
 '6/24/2016 13:41:56',
 '6/24/2016 13:42:02',
 '6/24/2016 13:45:04',
 '6/24/2016 13:45:54',
 '6/24/2016 13:47:15',
 '6/24/2016 13:56:06',
 '6/24/2016 13:58:11',
 '6/24/2016 13:58:52',
 '6/24/2016 14:01:31',
 '6/24/2016 14:02:56',
 '6/24/2016 14:05:35',
 '6/24/2016 14:05:44',
 '6/24/2016 14:07:33',
 '6/24/2016 14:11:08',
 '6/24/2016 14:12:41',
 '6/24/2016 14:21:25',
 '6/24/2016 14:41:17',
 '6/24/2016 15:34:30',
 '6/24/2016 15:38:21',
 '6/24/2016 15:38:31',
 '6/24/2016 16:19:53',
 '6/24/2016 16:23:30',
 '6/24/2016 17:29:38',
 '6/24/2016 6:59:42',
 '6/24/2016 7:01:03',
 '6/24/2016 7:01:19',
 '6/24/2016 7:01:29',
 '6/24/2016 7:01:55',
 '6/24/2016 7:02:20',
 '6/24/2016 7:02:43',
 '6/24/2016 7:03:24',
 '6/24/2016 7:03:25',
 '6/24/2016 7:03:34',
 '6/24/2016 7:03:41',
 '6/24/2016 7:03:48',
 '6/24/2016 7:03:58',
 '6/24/2016 7:04:09',
 '6/24/2016 7:04:11',
 '6/24/2016 7:04:34',
 '6/24/2016 7:04:59',
 '6/24/2016 7:05:51',
 '6/24/2016 7:06:04',
 '6/24/2016 7:06:21',
 '6/24/2016 7:06:24',
 '6/24/2016 7:06:58',
 '6/24/2016 7:06:59',
 '6/24/2016 7:07:00',
 '6/24/2016 7:07:02',
 '6/24/2016 7:07:06',
 '6/24/2016 7:07:26',
 '6/24/2016 7:08:15',
 '6/24/2016 7:08:37',
 '6/24/2016 7:08:41',
 '6/24/2016 7:08:43',
 '6/24/2016 7:08:51',
 '6/24/2016 7:09:30',
 '6/24/2016 7:10:22',
 '6/24/2016 7:12:49',
 '6/24/2016 7:18:32',
 '6/24/2016 8:22:55',
 '6/24/2016 9:34:14',
 '6/24/2016 9:40:16',
 '6/24/2016 9:49:15',
 '6/24/2016 9:49:18',
 '6/24/2016 9:49:30',
 '6/24/2016 9:50:06',
 '6/24/2016 9:50:19',
 '6/24/2016 9:50:50',
 '6/24/2016 9:50:59',
 '6/24/2016 9:51:03',
 '6/24/2016 9:51:08',
 '6/24/2016 9:53:41',
 '6/24/2016 9:54:45',
 '6/25/2016 19:10:35',
 '6/25/2016 20:09:34',
 '6/25/2016 21:41:09',
 '6/25/2016 22:17:48',
 '6/26/2016 22:45:58',
 '6/26/2016 23:32:51',
 '6/27/2016 15:01:42',
 '6/27/2016 4:03:03',
 '6/29/2016 22:39:27',
 '6/30/2016 14:09:14',
 '6/30/2016 22:50:08',
 '7/1/2016 10:32:25',
 '7/1/2016 10:36:57',
 '7/1/2016 10:41:18',
 '7/1/2016 10:41:34',
 '7/1/2016 10:41:44',
 '7/1/2016 10:42:17',
 '7/1/2016 10:43:14',
 '7/1/2016 10:45:47',
 '7/1/2016 10:47:06',
 '7/1/2016 10:47:57',
 '7/1/2016 10:47:58',
 '7/1/2016 10:56:51',
 '7/1/2016 11:25:53',
 '7/1/2016 11:57:11',
 '7/1/2016 11:58:37',
 '7/1/2016 13:12:22',
 '7/1/2016 13:19:07',
 '7/1/2016 13:25:32',
 '7/1/2016 13:25:54',
 '7/1/2016 13:26:00',
 '7/1/2016 13:27:10',
 '7/1/2016 13:27:56',
 '7/1/2016 13:28:10',
 '7/1/2016 13:28:33',
 '7/1/2016 13:28:59',
 '7/1/2016 13:29:01',
 '7/1/2016 13:29:07',
 '7/1/2016 13:29:33',
 '7/1/2016 13:29:40',
 '7/1/2016 13:29:43',
 '7/1/2016 13:29:47',
 '7/1/2016 13:30:05',
 '7/1/2016 13:30:07',
 '7/1/2016 13:30:28',
 '7/1/2016 13:30:53',
 '7/1/2016 13:31:04',
 '7/1/2016 13:32:18',
 '7/1/2016 13:33:15',
 '7/1/2016 13:33:28',
 '7/1/2016 13:34:11',
 '7/1/2016 13:35:20',
 '7/1/2016 13:39:46',
 '7/1/2016 13:41:30',
 '7/1/2016 13:49:17',
 '7/1/2016 15:35:19',
 '7/1/2016 15:35:33',
 '7/1/2016 15:38:22',
 '7/1/2016 15:40:24',
 '7/1/2016 15:40:28',
 '7/1/2016 15:40:51',
 '7/1/2016 15:42:15',
 '7/1/2016 15:49:06',
 '7/1/2016 15:50:59',
 '7/1/2016 15:51:23',
 '7/1/2016 15:59:22',
 '7/1/2016 15:59:54',
 '7/1/2016 16:01:17',
 '7/1/2016 16:02:10',
 '7/1/2016 16:02:57',
 '7/1/2016 16:04:18',
 '7/1/2016 16:05:40',
 '7/1/2016 16:07:02',
 '7/1/2016 16:07:04',
 '7/1/2016 16:07:13',
 '7/1/2016 16:07:24',
 '7/1/2016 16:07:26',
 '7/1/2016 16:07:58',
 '7/1/2016 16:08:19',
 '7/1/2016 16:08:49',
 '7/1/2016 16:10:20',
 '7/1/2016 16:10:34',
 '7/1/2016 16:10:46',
 '7/1/2016 16:10:55',
 '7/1/2016 16:12:17',
 '7/1/2016 16:12:30',
 '7/1/2016 16:15:04',
 '7/1/2016 16:15:41',
 '7/1/2016 16:16:13',
 '7/1/2016 16:17:34',
 '7/1/2016 16:18:02',
 '7/1/2016 16:19:32',
 '7/1/2016 16:19:33',
 '7/1/2016 16:20:36',
 '7/1/2016 16:21:07',
 '7/1/2016 16:22:03',
 '7/1/2016 16:23:13',
 '7/1/2016 16:24:01',
 '7/1/2016 16:30:11',
 '7/1/2016 16:32:24',
 '7/1/2016 16:35:14',
 '7/1/2016 16:41:10',
 '7/1/2016 16:44:38',
 '7/1/2016 17:00:26',
 '7/1/2016 17:01:13',
 '7/1/2016 17:06:05',
 '7/1/2016 17:13:25',
 '7/1/2016 17:18:27',
 '7/1/2016 17:51:29',
 '7/1/2016 19:06:08',
 '7/1/2016 5:41:15',
 '7/1/2016 6:27:37',
 '7/1/2016 6:27:48',
 '7/1/2016 6:27:51',
 '7/1/2016 6:30:01',
 '7/1/2016 6:30:05',
 '7/1/2016 6:30:49',
 '7/1/2016 6:31:02',
 '7/1/2016 6:31:09',
 '7/1/2016 6:31:12',
 '7/1/2016 6:31:31',
 '7/1/2016 6:33:45',
 '7/1/2016 6:33:55',
 '7/1/2016 6:35:15',
 '7/1/2016 6:36:10',
 '7/1/2016 6:36:15',
 '7/1/2016 6:36:41',
 '7/1/2016 6:41:31',
 '7/1/2016 6:41:43',
 '7/1/2016 6:41:54',
 '7/1/2016 6:43:54',
 '7/1/2016 6:46:33',
 '7/1/2016 6:46:34',
 '7/1/2016 6:47:56',
 '7/1/2016 7:00:39',
 '7/1/2016 7:02:22',
 '7/1/2016 8:52:52',
 '7/1/2016 8:58:54',
 '7/1/2016 9:27:32',
 '7/1/2016 9:34:16',
 '7/1/2016 9:41:30',
 '7/1/2016 9:46:04',
 '7/1/2016 9:47:30',
 '7/10/2016 20:55:08',
 '7/10/2016 23:44:41',
 '7/11/2016 12:10:26',
 '7/11/2016 12:39:56',
 '7/14/2016 14:05:15',
 '7/14/2016 14:06:20',
 '7/14/2016 15:04:21',
 '7/14/2016 15:47:33',
 '7/15/2016 10:11:32',
 '7/15/2016 10:18:52',
 '7/15/2016 13:20:35',
 '7/15/2016 13:22:22',
 '7/15/2016 13:30:19',
 '7/15/2016 13:31:54',
 '7/15/2016 13:35:36',
 '7/15/2016 13:56:01',
 '7/15/2016 13:56:03',
 '7/15/2016 13:58:34',
 '7/15/2016 13:58:40',
 '7/15/2016 14:00:09',
 '7/15/2016 14:00:41',
 '7/15/2016 14:01:42',
 '7/15/2016 14:03:03',
 '7/15/2016 14:09:14',
 '7/15/2016 14:10:40',
 '7/15/2016 14:15:40',
 '7/15/2016 14:26:18',
 '7/15/2016 14:35:15',
 '7/15/2016 15:05:10',
 '7/15/2016 15:12:36',
 '7/15/2016 15:15:37',
 '7/15/2016 15:26:38',
 '7/15/2016 15:30:54',
 '7/15/2016 15:31:37',
 '7/15/2016 15:32:59',
 '7/15/2016 15:51:03',
 '7/15/2016 15:54:39',
 '7/15/2016 15:54:51',
 '7/15/2016 15:54:54',
 '7/15/2016 15:55:54',
 '7/15/2016 15:55:56',
 '7/15/2016 15:56:10',
 '7/15/2016 15:56:18',
 '7/15/2016 15:57:04',
 '7/15/2016 15:57:37',
 '7/15/2016 15:57:50',
 '7/15/2016 15:58:21',
 '7/15/2016 15:58:36',
 '7/15/2016 15:58:47',
 '7/15/2016 16:03:01',
 '7/15/2016 16:03:37',
 '7/15/2016 16:05:04',
 '7/15/2016 16:06:23',
 '7/15/2016 16:18:00',
 '7/15/2016 16:19:09',
 '7/15/2016 16:20:07',
 '7/15/2016 16:21:10',
 '7/15/2016 16:21:25',
 '7/15/2016 16:23:07',
 '7/15/2016 16:55:20',
 '7/15/2016 16:59:37',
 '7/15/2016 17:02:43',
 '7/15/2016 17:10:52',
 '7/15/2016 17:11:41',
 '7/15/2016 17:34:39',
 '7/15/2016 19:08:37',
 '7/15/2016 19:32:26',
 '7/15/2016 19:59:23',
 '7/15/2016 20:20:33',
 '7/15/2016 20:39:49',
 '7/15/2016 20:46:14',
 '7/15/2016 2:45:00',
 '7/15/2016 2:45:11',
 '7/15/2016 2:48:37',
 '7/15/2016 2:53:18',
 '7/15/2016 2:56:09',
 '7/15/2016 4:37:33',
 '7/15/2016 6:28:26',
 '7/15/2016 6:29:53',
 '7/15/2016 6:30:09',
 '7/15/2016 6:30:24',
 '7/15/2016 6:31:29',
 '7/15/2016 6:31:36',
 '7/15/2016 6:32:19',
 '7/15/2016 6:36:55',
 '7/15/2016 6:37:43',
 '7/15/2016 6:57:30',
 '7/15/2016 7:03:28',
 '7/15/2016 7:30:38',
 '7/15/2016 7:37:15',
 '7/15/2016 7:47:54',
 '7/16/2016 12:46:10',
 '7/16/2016 13:12:50',
 '7/16/2016 18:46:18',
 '7/16/2016 9:18:45',
 '7/17/2016 16:27:57',
 '7/17/2016 17:05:09',
 '7/17/2016 19:06:22',
 '7/17/2016 21:45:33',
 '7/17/2016 9:52:10',
 '7/18/2016 10:35:56',
 '7/18/2016 8:27:48',
 '7/18/2016 8:35:24',
 '7/19/2016 11:46:56',
 '7/2/2016 0:32:56',
 '7/2/2016 12:45:15',
 '7/2/2016 12:49:55',
 '7/2/2016 21:55:49',
 '7/2/2016 7:49:54',
 '7/2/2016 9:50:36',
 '7/21/2016 21:57:59',
 '7/21/2016 21:59:37',
 '7/21/2016 22:01:53',
 '7/22/2016 12:43:02',
 '7/22/2016 12:44:15',
 '7/22/2016 12:45:12',
 '7/22/2016 12:45:16',
 '7/22/2016 12:45:22',
 '7/22/2016 12:45:30',
 '7/22/2016 12:46:29',
 '7/22/2016 12:47:59',
 '7/22/2016 12:49:36',
 '7/22/2016 12:49:41',
 '7/22/2016 12:50:23',
 '7/22/2016 12:50:31',
 '7/22/2016 12:51:51',
 '7/22/2016 12:52:37',
 '7/22/2016 12:52:43',
 '7/22/2016 12:52:51',
 '7/22/2016 12:53:36',
 '7/22/2016 12:53:47',
 '7/22/2016 13:00:34',
 '7/22/2016 13:11:42',
 '7/22/2016 13:29:33',
 '7/22/2016 13:35:20',
 '7/22/2016 13:36:39',
 '7/22/2016 13:37:15',
 '7/22/2016 13:40:21',
 '7/22/2016 13:44:52',
 '7/22/2016 13:50:50',
 '7/22/2016 13:51:22',
 '7/22/2016 13:51:35',
 '7/22/2016 13:51:36',
 '7/22/2016 13:51:44',
 '7/22/2016 13:52:05',
 '7/22/2016 13:52:19',
 '7/22/2016 13:52:41',
 '7/22/2016 13:53:19',
 '7/22/2016 13:53:31',
 '7/22/2016 13:53:56',
 '7/22/2016 13:54:46',
 '7/22/2016 13:54:52',
 '7/22/2016 13:57:13',
 '7/22/2016 14:03:30',
 '7/22/2016 14:04:51',
 '7/22/2016 14:25:23',
 '7/22/2016 14:25:46',
 '7/22/2016 14:25:54',
 '7/22/2016 14:26:04',
 '7/22/2016 14:26:06',
 '7/22/2016 14:26:59',
 '7/22/2016 14:27:03',
 '7/22/2016 14:27:45',
 '7/22/2016 14:28:15',
 '7/22/2016 14:37:17',
 '7/22/2016 14:40:12',
 '7/22/2016 14:54:14',
 '7/22/2016 15:24:21',
 '7/22/2016 15:24:25',
 '7/22/2016 15:53:14',
 '7/22/2016 15:54:08',
 '7/22/2016 16:15:37',
 '7/22/2016 16:16:07',
 '7/22/2016 16:16:20',
 '7/22/2016 16:17:04',
 '7/22/2016 16:17:09',
 '7/22/2016 16:18:23',
 '7/22/2016 16:18:45',
 '7/22/2016 16:19:58',
 '7/22/2016 16:20:25',
 '7/22/2016 16:20:30',
 '7/22/2016 16:21:04',
 '7/22/2016 16:23:12',
 '7/22/2016 16:23:19',
 '7/22/2016 18:00:51',
 '7/22/2016 19:26:57',
 '7/22/2016 1:30:17',
 '7/22/2016 1:36:59',
 '7/22/2016 1:42:08',
 '7/22/2016 1:49:13',
 '7/22/2016 1:50:35',
 '7/22/2016 22:37:46',
 '7/22/2016 3:08:20',
 '7/23/2016 14:14:16',
 '7/23/2016 18:59:21',
 '7/23/2016 23:28:39',
 '7/24/2016 11:16:24',
 '7/29/2016 0:19:08',
 '7/29/2016 0:22:41',
 '7/29/2016 0:23:17',
 '7/29/2016 11:17:08',
 '7/29/2016 13:11:56',
 '7/29/2016 13:11:59',
 '7/29/2016 13:13:36',
 '7/29/2016 13:14:07',
 '7/29/2016 13:14:32',
 '7/29/2016 13:15:14',
 '7/29/2016 13:15:55',
 '7/29/2016 13:16:10',
 '7/29/2016 13:17:10',
 '7/29/2016 13:17:25',
 '7/29/2016 13:17:26',
 '7/29/2016 13:17:34',
 '7/29/2016 13:17:35',
 '7/29/2016 13:17:36',
 '7/29/2016 13:17:38',
 '7/29/2016 13:17:47',
 '7/29/2016 13:17:56',
 '7/29/2016 13:19:10',
 '7/29/2016 13:19:14',
 '7/29/2016 13:19:53',
 '7/29/2016 13:19:58',
 '7/29/2016 13:20:33',
 '7/29/2016 13:21:00',
 '7/29/2016 13:21:13',
 '7/29/2016 13:23:48',
 '7/29/2016 13:24:45',
 '7/29/2016 13:24:51',
 '7/29/2016 13:26:06',
 '7/29/2016 13:27:19',
 '7/29/2016 13:35:17',
 '7/29/2016 13:44:38',
 '7/29/2016 13:46:22',
 '7/29/2016 13:46:28',
 '7/29/2016 13:47:43',
 '7/29/2016 13:52:16',
 '7/29/2016 14:18:21',
 '7/29/2016 14:40:29',
 '7/29/2016 15:00:35',
 '7/29/2016 15:02:01',
 '7/29/2016 15:02:27',
 '7/29/2016 15:06:33',
 '7/29/2016 15:09:17',
 '7/29/2016 15:10:27',
 '7/29/2016 15:13:01',
 '7/29/2016 15:14:11',
 '7/29/2016 15:15:48',
 '7/29/2016 15:17:19',
 '7/29/2016 15:17:23',
 '7/29/2016 15:17:52',
 '7/29/2016 15:23:30',
 '7/29/2016 15:25:23',
 '7/29/2016 15:25:45',
 '7/29/2016 15:26:20',
 '7/29/2016 15:28:06',
 '7/29/2016 15:29:56',
 '7/29/2016 15:31:26',
 '7/29/2016 15:34:35',
 '7/29/2016 15:36:04',
 '7/29/2016 15:36:20',
 '7/29/2016 15:50:15',
 '7/29/2016 16:09:44',
 '7/29/2016 16:10:41',
 '7/29/2016 16:21:52',
 '7/29/2016 16:22:54',
 '7/29/2016 16:41:48',
 '7/29/2016 16:54:46',
 '7/29/2016 17:07:36',
 '7/29/2016 18:46:09',
 '7/29/2016 19:18:44',
 '7/29/2016 1:07:23',
 '7/29/2016 1:08:46',
 '7/29/2016 1:11:16',
 '7/29/2016 1:13:23',
 '7/29/2016 1:13:56',
 '7/29/2016 1:17:27',
 '7/29/2016 1:22:25',
 '7/29/2016 1:27:55',
 '7/29/2016 1:28:54',
 '7/29/2016 1:29:23',
 '7/29/2016 1:46:49',
 '7/29/2016 21:20:05',
 '7/29/2016 21:45:54',
 '7/29/2016 22:40:39',
 '7/29/2016 23:12:48',
 '7/29/2016 6:54:22',
 '7/29/2016 6:55:40',
 '7/29/2016 7:26:56',
 '7/29/2016 9:46:08',
 '7/3/2016 14:53:37',
 '7/3/2016 19:14:57',
 '7/3/2016 19:21:48',
 '7/3/2016 19:27:27',
 '7/3/2016 20:00:26',
 '7/30/2016 11:06:02',
 '7/30/2016 13:09:48',
 '7/30/2016 5:46:01',
 '7/30/2016 7:02:47',
 '7/30/2016 9:00:15',
 '7/31/2016 11:28:09',
 '7/31/2016 13:22:31',
 '7/31/2016 15:23:52',
 '7/31/2016 16:49:45',
 '7/31/2016 1:04:57',
 '7/31/2016 23:10:54',
 '7/31/2016 3:38:14',
 '7/31/2016 3:59:43',
 '7/31/2016 4:19:51',
 '7/31/2016 5:14:20',
 '7/31/2016 6:50:12',
 '7/31/2016 7:40:14',
 '7/31/2016 8:34:29',
 '7/31/2016 8:43:57',
 '7/4/2016 18:31:39',
 '7/4/2016 23:02:16',
 '7/4/2016 3:03:20',
 '7/5/2016 10:15:27',
 '7/5/2016 11:30:35',
 '7/5/2016 12:00:21',
 '7/5/2016 16:07:37',
 '7/5/2016 16:09:01',
 '7/5/2016 16:10:40',
 '7/5/2016 16:11:11',
 '7/5/2016 18:24:11',
 '7/5/2016 9:39:22',
 '7/5/2016 9:48:32',
 '7/8/2016 10:31:27',
 '7/8/2016 12:14:54',
 '7/8/2016 12:41:10',
 '7/8/2016 12:41:13',
 '7/8/2016 12:41:51',
 '7/8/2016 12:43:35',
 '7/8/2016 12:43:44',
 '7/8/2016 12:45:02',
 '7/8/2016 12:45:11',
 '7/8/2016 12:47:39',
 '7/8/2016 12:47:42',
 '7/8/2016 12:49:05',
 '7/8/2016 12:49:16',
 '7/8/2016 12:52:08',
 '7/8/2016 13:01:58',
 '7/8/2016 13:07:39',
 '7/8/2016 13:45:52',
 '7/8/2016 13:47:42',
 '7/8/2016 13:47:59',
 '7/8/2016 13:51:14',
 '7/8/2016 13:52:01',
 '7/8/2016 13:53:19',
 '7/8/2016 13:55:51',
 '7/8/2016 13:56:39',
 '7/8/2016 13:58:12',
 '7/8/2016 14:00:28',
 '7/8/2016 14:02:54',
 '7/8/2016 14:03:35',
 '7/8/2016 14:03:46',
 '7/8/2016 14:12:24',
 '7/8/2016 14:13:39',
 '7/8/2016 14:29:22',
 '7/8/2016 14:42:40',
 '7/8/2016 15:55:12',
 '7/8/2016 15:56:10',
 '7/8/2016 15:56:20',
 '7/8/2016 15:58:04',
 '7/8/2016 15:58:45',
 '7/8/2016 15:59:30',
 '7/8/2016 16:02:55',
 '7/8/2016 16:08:03',
 '7/8/2016 16:08:13',
 '7/8/2016 16:11:32',
 '7/8/2016 16:19:51',
 '7/8/2016 16:23:15',
 '7/8/2016 16:27:30',
 '7/8/2016 16:34:12',
 '7/8/2016 16:39:27',
 '7/8/2016 16:40:10',
 '7/8/2016 16:40:17',
 '7/8/2016 16:41:06',
 '7/8/2016 16:46:21',
 '7/8/2016 16:55:21',
 '7/8/2016 17:18:49',
 '7/8/2016 17:33:28',
 '7/8/2016 18:34:39',
 '7/8/2016 19:14:34',
 '7/8/2016 21:26:01',
 '7/8/2016 22:05:05',
 '7/8/2016 6:21:11',
 '7/8/2016 6:21:29',
 '7/8/2016 6:21:35',
 '7/8/2016 6:21:46',
 '7/8/2016 6:22:10',
 '7/8/2016 6:22:35',
 '7/8/2016 6:22:50',
 '7/8/2016 6:23:09',
 '7/8/2016 6:23:28',
 '7/8/2016 6:23:49',
 '7/8/2016 6:23:50',
 '7/8/2016 6:24:25',
 '7/8/2016 6:26:03',
 '7/8/2016 6:26:30',
 '7/8/2016 6:26:40',
 '7/8/2016 6:26:49',
 '7/8/2016 6:27:01',
 '7/8/2016 6:27:14',
 '7/8/2016 6:27:31',
 '7/8/2016 6:27:49',
 '7/8/2016 6:28:49',
 '7/8/2016 6:28:56',
 '7/8/2016 6:29:05',
 '7/8/2016 6:33:10',
 '7/8/2016 6:36:23',
 '7/8/2016 6:36:36',
 '7/8/2016 6:38:24',
 '7/8/2016 7:36:11',
 '7/9/2016 14:23:38',
 '7/9/2016 15:22:45',
 '7/9/2016 17:05:33',
 '7/9/2016 8:14:45',
 '8/1/2016 10:03:22',
 '8/1/2016 10:04:06',
 '8/1/2016 10:06:45',
 '8/1/2016 11:22:56',
 '8/1/2016 1:18:47',
 '8/1/2016 1:30:17',
 '8/1/2016 1:39:51',
 '8/1/2016 6:15:10',
 '8/1/2016 7:56:08',
 '8/1/2016 9:40:14',
 '8/5/2016 11:13:01',
 '8/5/2016 11:17:11',
 '8/5/2016 11:17:52',
 '8/5/2016 11:18:01',
 '8/5/2016 11:20:15',
 '8/5/2016 11:20:43',
 '8/5/2016 11:21:10',
 '8/5/2016 11:21:38',
 '8/5/2016 11:22:50',
 '8/5/2016 11:23:13',
 '8/5/2016 11:24:20',
 '8/5/2016 11:29:26',
 '8/5/2016 11:31:08',
 '8/5/2016 11:38:52',
 '8/5/2016 11:39:18',
 '8/5/2016 11:56:23',
 '8/5/2016 11:57:53',
 '8/5/2016 12:11:04',
 '8/5/2016 12:27:18',
 '8/5/2016 12:34:16',
 '8/5/2016 12:35:08',
 '8/5/2016 12:35:50',
 '8/5/2016 12:36:31',
 '8/5/2016 12:36:55',
 '8/5/2016 12:37:12',
 '8/5/2016 12:37:15',
 '8/5/2016 12:39:02',
 '8/5/2016 12:39:13',
 '8/5/2016 12:40:44',
 '8/5/2016 12:43:00',
 '8/5/2016 12:43:35',
 '8/5/2016 12:45:05',
 '8/5/2016 12:45:58',
 '8/5/2016 12:46:09',
 '8/5/2016 13:04:11',
 '8/5/2016 13:13:02',
 '8/5/2016 13:23:30',
 '8/5/2016 13:32:40',
 '8/5/2016 13:34:04',
 '8/5/2016 13:34:18',
 '8/5/2016 13:34:26',
 '8/5/2016 13:34:53',
 '8/5/2016 13:34:54',
 '8/5/2016 13:35:03',
 '8/5/2016 13:35:21',
 '8/5/2016 13:35:36',
 '8/5/2016 13:35:43',
 '8/5/2016 13:36:23',
 '8/5/2016 13:36:39',
 '8/5/2016 13:36:43',
 '8/5/2016 13:36:44',
 '8/5/2016 13:37:41',
 '8/5/2016 13:37:43',
 '8/5/2016 13:37:50',
 '8/5/2016 13:38:00',
 '8/5/2016 13:38:05',
 '8/5/2016 13:38:26',
 '8/5/2016 13:38:33',
 '8/5/2016 13:39:14',
 '8/5/2016 13:39:25',
 '8/5/2016 13:39:27',
 '8/5/2016 13:39:45',
 '8/5/2016 13:39:55',
 '8/5/2016 13:40:07',
 '8/5/2016 13:41:05',
 '8/5/2016 13:43:17',
 '8/5/2016 13:43:35',
 '8/5/2016 13:43:43',
 '8/5/2016 13:43:54',
 '8/5/2016 13:44:24',
 '8/5/2016 13:44:33',
 '8/5/2016 13:45:29',
 '8/5/2016 13:47:02',
 '8/5/2016 13:47:15',
 '8/5/2016 13:48:45',
 '8/5/2016 13:49:31',
 '8/5/2016 13:49:53',
 '8/5/2016 13:51:09',
 '8/5/2016 13:51:18',
 '8/5/2016 13:51:20',
 '8/5/2016 13:51:41',
 '8/5/2016 13:52:31',
 '8/5/2016 13:58:27',
 '8/5/2016 14:00:14',
 '8/5/2016 14:03:39',
 '8/5/2016 14:44:00',
 '8/5/2016 15:07:12',
 '8/5/2016 19:14:21',
 '8/5/2016 1:39:41',
 '8/5/2016 1:40:47',
 '8/5/2016 1:40:50',
 '8/5/2016 1:42:44',
 '8/5/2016 1:45:13',
 '8/5/2016 1:45:39',
 '8/5/2016 1:49:21',
 '8/7/2016 10:45:47',
 '8/7/2016 17:45:06',
 '8/8/2016 1:30:34',
 '8/8/2016 1:33:45',
 '8/8/2016 1:49:29',
 '8/8/2016 1:51:00',
 '8/8/2016 8:35:18',
 '8/8/2016 8:39:01',
 '8/8/2016 9:41:39',
 nan}

### Example of Merging Mutually Exclusive Columns

In [83]:
df1 = pd.DataFrame([1, 0, 3, 4, np.nan, np.nan, 0, 6, np.nan, np.nan, np.nan], columns=["a"])
df2 = pd.DataFrame([np.nan, np.nan, np.nan, np.nan, 5, 7, np.nan, np.nan, 2, 9, 8], columns=["b"])

Step 1: Replace all **NaNs**

In [84]:
df1["a"] = df1["a"].fillna(0)
df2["b"] = df2["b"].fillna(0)

In [86]:
df_final = df1['a'] + df2['b']

In [ ]:
s1, s2 = "New York", "No Location"
s1 + s2

In [87]:
df_final

0     1.0
1     0.0
2     3.0
3     4.0
4     5.0
5     7.0
6     0.0
7     6.0
8     2.0
9     9.0
10    8.0
dtype: float64

In [ ]:
pacing_name1 = 'How well is the schedule paced?'
pacing_name2 = 'How well are the tutorials pacecd?'

### Since we know that the `Schedule Pacing` and `Tutorial Pacing` are mutually exclusive columns, we can simply _ADD_ them together into a new column.

In [48]:
pacing_df =  pd.DataFrame(columns= ['How well is the schedule paced?','How well are the tutorials paced?'])

array_of_columns = list()


for df in data:
    if 'How well is the schedule paced?' in df.columns:
        array_of_columns.append(df['How well is the schedule paced?'])
        nan_df = pd.DataFrame(np.nan, index=df['How well is the schedule paced?'].size, columns='How well are the tutorials paced?')
        array_of_columns.append(nan_df)
#         pacing_df['How well is the schedule paced?'] = pacing_df['How well is the schedule paced?'] + df['How well is the schedule paced?']
    elif 'How well are the tutorials paced?' in df.columns:
        array_of_columns.append(df['How well are the tutorials paced?'])
        nan_df = pd.DataFrame(np.nan, index=df['How well are the tutorials paced?'].size, columns='How well are the tutorials paced?')
        array_of_columns.append(nan_df)
        
        
#         pacing_df[ 'How well are the tutorials paced?'] = pacing_df['How well are the tutorials paced?'] + df['How well are the tutorials paced?']
        
pacing_df

TypeError: object of type 'int' has no len()

In [62]:
pacing_df =  pd.DataFrame(columns= ['How well is the schedule paced?','How well are the tutorials paced?'])
p1 = list()
p2 = list()




for df in data:
    if 'How well is the schedule paced?' in df.columns:
        p1.append(df['How well is the schedule paced?'].values)
        temp_arr = [p1.append(i) for i in df['How well is the schedule paced?'].values]
        p2.append(np.nan * (df['How well is the schedule paced?'].size))
#         p1.append(df['How well is the schedule paced?'].values)

    elif 'How well are the tutorials paced?' in df.columns:
        temp_arr = [p2.append(i) for i in df['How well are the tutorials paced?'].values]
        p2.append(np.nan * (df['How well are the tutorials paced?'].size))

        
#         pacing_df[ 'How well are the tutorials paced?'] = pacing_df['How well are the tutorials paced?'] + df['How well are the tutorials paced?']
        
p1
# p2

[array([3, 3, 3, 4, 4, 3, 3, 3, 3, 3, 3]),
 3,
 3,
 3,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 array([4, 3, 1, 2, 4, 3, 5, 2, 4, 3, 3, 4, 3]),
 4,
 3,
 1,
 2,
 4,
 3,
 5,
 2,
 4,
 3,
 3,
 4,
 3,
 array([2, 3, 2, 3, 3, 3, 4, 3, 3]),
 2,
 3,
 2,
 3,
 3,
 3,
 4,
 3,
 3,
 array([3, 3, 4, 4, 4, 4, 3, 3, 3, 3, 2, 3, 3, 4, 5, 3, 4, 4, 4, 5, 4, 3,
        3, 3, 3, 4, 3, 3, 3, 4, 4]),
 3,
 3,
 4,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 2,
 3,
 3,
 4,
 5,
 3,
 4,
 4,
 4,
 5,
 4,
 3,
 3,
 3,
 3,
 4,
 3,
 3,
 3,
 4,
 4,
 array([3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 4, 3, 5, 2, 3, 4, 4, 4, 3, 3,
        4, 3, 3, 5, 3, 3, 3, 3, 3, 3, 3, 4, 2, 3, 5, 2, 3, 3, 3]),
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 3,
 3,
 4,
 3,
 5,
 2,
 3,
 4,
 4,
 4,
 3,
 3,
 4,
 3,
 3,
 5,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 2,
 3,
 5,
 2,
 3,
 3,
 3,
 array([3, 4, 3, 3, 4, 3, 3, 4, 3]),
 3,
 4,
 3,
 3,
 4,
 3,
 3,
 4,
 3,
 array([2, 3, 4, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 1, 3, 3, 3, 3, 5, 3]),
 2,
 3,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 3,
 3,
 1,
 3,
 3,
 3,
 3,
 5,
 3,
 array([2, 3, 4, 3, 3, 3, 3]),
 2,
 3,
 4,
 3,
 3,
 3,
 3,
 array([3, 4, 3, 3, 3, 3, 4, 3, 2, 4, 4, 3]),
 3,
 4,
 3,
 3,
 3,
 3,
 4,
 3,
 2,
 4,
 4,
 3,
 array([3, 3, 3, 3, 2, 4, 4, 3, 4, 4, 4, 4, 3, 3, 4, 3, 4, 4, 4, 4, 3, 4,
        3, 3, 4, 3, 3, 3]),
 3,
 3,
 3,
 3,
 2,
 4,
 4,
 3,
 4,
 4,
 4,
 4,
 3,
 3,
 4,
 3,
 4,
 4,
 4,
 4,
 3,
 4,
 3,
 3,
 4,
 3,
 3,
 3,
 array([3, 3, 1, 3, 3, 3, 3, 3, 4, 4]),
 3,
 3,
 1,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 array([3, 3, 3, 4, 3, 3, 2, 3, 3, 3, 3, 4, 4, 3, 3, 5, 3, 3, 3, 2, 3, 5,
        3, 4, 3, 3, 3, 2, 3, 3, 3, 3, 3, 4, 3, 3, 4, 4, 4, 3, 3, 3]),
 3,
 3,
 3,
 4,
 3,
 3,
 2,
 3,
 3,
 3,
 3,
 4,
 4,
 3,
 3,
 5,
 3,
 3,
 3,
 2,
 3,
 5,
 3,
 4,
 3,
 3,
 3,
 2,
 3,
 3,
 3,
 3,
 3,
 4,
 3,
 3,
 4,
 4,
 4,
 3,
 3,
 3,
 array([3, 3, 4, 3, 4, 3, 3, 3, 3, 3, 2]),
 3,
 3,
 4,
 3,
 4,
 3,
 3,
 3,
 3,
 3,
 2,
 array([1, 3, 4, 3, 3, 3, 3, 3, 2, 4, 3, 4, 3, 3, 3, 4, 3, 4, 4, 4, 3, 4,
        3, 4, 1, 3, 3, 2, 3, 3, 4, 4, 5, 3, 3, 4]),
 1,
 3,
 4,
 3,
 3,
 3,
 3,
 3,
 2,
 4,
 3,
 4,
 3,
 3,
 3,
 4,
 3,
 4,
 4,
 4,
 3,
 4,
 3,
 4,
 1,
 3,
 3,
 2,
 3,
 3,
 4,
 4,
 5,
 3,
 3,
 4,
 array([3, 3, 3, 3, 3, 4, 3, 4, 3, 3, 3, 3, 4, 3, 3, 3, 4]),
 3,
 3,
 3,
 3,
 3,
 4,
 3,
 4,
 3,
 3,
 3,
 3,
 4,
 3,
 3,
 3,
 4,
 array([2, 4, 3, 3, 3, 4]),
 2,
 4,
 3,
 3,
 3,
 4,
 array([2, 4, 5, 3, 3, 4, 3, 3, 2, 4, 3, 4, 4, 4, 3, 3, 4, 3, 3, 3, 3, 4,
        3, 4, 4, 3, 3, 3]),
 2,
 4,
 5,
 3,
 3,
 4,
 3,
 3,
 2,
 4,
 3,
 4,
 4,
 4,
 3,
 3,
 4,
 3,
 3,
 3,
 3,
 4,
 3,
 4,
 4,
 3,
 3,
 3,
 array([2, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 3]),
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 3,
 3,
 3,
 array([3, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 3, 3, 4, 3, 3,
        3, 4, 3]),
 3,
 4,
 3,
 3,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 3,
 3,
 4,
 3,
 3,
 3,
 4,
 3,
 array([3, 5, 3, 3, 5, 3]),
 3,
 5,
 3,
 3,
 5,
 3,
 array([3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 1, 2, 3, 3, 3, 3, 3,
        4, 5, 4, 3, 3, 4, 5, 3, 3, 3, 4, 3, 3, 4, 3, 3, 3, 3, 3, 4, 4, 3,
        3, 2, 3]),
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 3,
 3,
 3,
 3,
 3,
 1,
 2,
 3,
 3,
 3,
 3,
 3,
 4,
 5,
 4,
 3,
 3,
 4,
 5,
 3,
 3,
 3,
 4,
 3,
 3,
 4,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 3,
 3,
 2,
 3,
 array([3, 3, 3, 3, 4, 4, 4, 3, 5, 3, 4, 4, 3, 3, 3, 3]),
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 3,
 5,
 3,
 4,
 4,
 3,
 3,
 3,
 3,
 array([2, 3, 3, 3, 2, 5, 5, 3, 3, 3, 4, 3, 3, 3, 4, 3, 3, 3, 4, 5, 4, 4,
        4]),
 2,
 3,
 3,
 3,
 2,
 5,
 5,
 3,
 3,
 3,
 4,
 3,
 3,
 3,
 4,
 3,
 3,
 3,
 4,
 5,
 4,
 4,
 4,
 array([4, 5, 3, 4, 3, 3, 3, 4, 3, 3, 5, 3, 3, 4, 3, 3, 3, 4, 4, 3, 4, 3,
        4, 3, 3, 3, 3, 4, 4, 4, 4, 2, 3, 2, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3,
        4, 3, 4, 3, 3, 4, 2, 3, 4, 2, 5, 2]),
 4,
 5,
 3,
 4,
 3,
 3,
 3,
 4,
 3,
 3,
 5,
 3,
 3,
 4,
 3,
 3,
 3,
 4,
 4,
 3,
 4,
 3,
 4,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 2,
 3,
 2,
 3,
 3,
 3,
 3,
 4,
 4,
 3,
 3,
 3,
 3,
 4,
 3,
 4,
 3,
 3,
 4,
 2,
 3,
 4,
 2,
 5,
 2,
 array([3, 3]),
 3,
 3,
 array([3, 3, 3, 4, 3, 3, 3, 3]),
 3,
 3,
 3,
 4,
 3,
 3,
 3,
 3,
 array([5, 3, 3, 4, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 5, 3, 3, 5, 2]),
 5,
 3,
 3,
 4,
 3,
 3,
 3,
 4,
 3,
 4,
 3,
 4,
 3,
 3,
 5,
 3,
 3,
 5,
 2,
 array([3, 3, 4, 3, 3, 3, 3, 3, 2, 3, 3, 3, 2, 3, 3, 3, 3, 3, 4, 4, 4, 3,
        4, 2, 3, 2, 3, 4, 4, 3, 3, 3, 3, 3, 2]),
 3,
 3,
 4,
 3,
 3,
 3,
 3,
 3,
 2,
 3,
 3,
 3,
 2,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 3,
 4,
 2,
 3,
 2,
 3,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 2,
 array([3, 3, 3]),
 3,
 3,
 3,
 array([5, 3, 3, 3, 3, 4, 5, 4, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3]),
 5,
 3,
 3,
 3,
 3,
 4,
 5,
 4,
 4,
 3,
 3,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 array([3, 2, 3, 3, 2, 2, 5, 3, 4, 4, 3, 5, 3, 3, 3, 2, 3, 3, 2, 3, 3, 4,
        3, 3, 2, 3, 4, 3, 4, 5, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 4, 4,
        4, 4, 3, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]),
 3,
 2,
 3,
 3,
 2,
 2,
 5,
 3,
 4,
 4,
 3,
 5,
 3,
 3,
 3,
 2,
 3,
 3,
 2,
 3,
 3,
 4,
 3,
 3,
 2,
 3,
 4,
 3,
 4,
 5,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 3,
 4,
 3,
 3,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 array([3, 3, 5, 3, 4, 3, 3, 3]),
 3,
 3,
 5,
 3,
 4,
 3,
 3,
 3,
 array(['2', '3', '3', '3', '4', '3', '4', '4', '4', '4', '2', '4', '5',
        '3', '3', '3', '3', '3', '3', '2', '3', '3', '3', '2', '5', '4',
        '4', '3', '3', '3', '3', '4', '4', '#REF!', '3', '3', '3'],
       dtype=object),
 '2',
 '3',
 '3',
 '3',
 '4',
 '3',
 '4',
 '4',
 '4',
 '4',
 '2',
 '4',
 '5',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '2',
 '3',
 '3',
 '3',
 '2',
 '5',
 '4',
 '4',
 '3',
 '3',
 '3',
 '3',
 '4',
 '4',
 '#REF!',
 '3',
 '3',
 '3']

In [45]:
height = 10
width = 20
df_0 = pd.DataFrame(0, index=range(height), columns=range(width))
len(df_0.index)

10

### Week 8 (2016)

In [ ]:
df_week_8 = pd.read_csv(REL_PATH_DIRECTORY + THE_8_PATH)

In [ ]:
df_week_8["Week"] = 8
df_week_8.rename(columns={"location": "Location"}, inplace=True)
df_week_8

### 2017

In [50]:
FILEPATH = "../datasets/SA_Feedback_Surveys_FINAL/2017/Student_Feedback_Surveys_Superview.csv"
df_2017 = pd.read_csv(FILEPATH)

# 9 or 10 are promoters
# 7-8 are passives
# 0-6 are detractors

# df_2017.head()

# Clean Week data to remove redundant "week"

week_mapper = {
    "Week 1": 1,
    "Week 2": 2,
    "Week 3": 3,
    "Week 4": 4,
    "Week 5": 5,
    "Week 6": 6,
    "Week 7": 7,
    "Week 8": 8
}

df_2017["Week"] = df_2017["Week"].map(week_mapper)

In [52]:
df_2017.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [ ]:
df_2017 = pd.read_csv(FILEPATH)
df_2017 = df_2017[df_2017["Rating (Num)"] != "#ERROR!"]
df_2017["Rating (Num)"] = df_2017["Rating (Num)"].astype(int)

df_promoters = df_2017.loc[(df_2017['Rating (Num)'] >= 9) & (df_2017['Week'] == 'Week 7')]
df_passives = df_2017.loc[(df_2017['Rating (Num)'] >= 7) & (df_2017['Rating (Num)'] <= 8) & (df_2017['Week'] == 'Week 7')]
df_detractors = df_2017.loc[(df_2017['Rating (Num)'] < 7) & (df_2017['Week'] == 'Week 7')]


# df_promoters
# df_passives
# df_detractors   

# len(df_promoters) #78
# len(df_passives) #34
# len(df_detractors) #8

# num_of_promoters = len(df_promoters)
# num_of_promoters

## Two choices for Pro-Pas-Det Data Divisions:

- **Divide** up your promoters, passives, and detractors into _three_ independent DataFrames
- **Convert** your logic for promoter, passive, and detractor identifiation into _arguments_ that you can pass to your global DataFrame at anytime

---

# Data Manipulation

In [ ]:
promoter_count = 0
passive_count = 0
detractor_count = 0

index = []
columns = []

promoter_df = pd.DataFrame(index=index, columns=columns)
passive_df = pd.DataFrame(index=index, columns=columns)
detractor_df = pd.DataFrame(index=index, columns=columns)

In [ ]:
arg_promoter = (df["Rating (Num)"] >= 9)
promoters = df[arg_promoter]


# week_one = (promoters["Week"] == "Week 1")

# week_one


# len(promoters)
# promoters

In [ ]:
df2017.loc[:, ['ID', 'Track', 'Week', 'Rating (Num)']]


all_students = {}

for index, row in df.iterrows():