In [1]:
from scipy import stats
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
data = np.array([1, 3, 5, 2, 3, 7, 8, 4, 10, 0, 6, 7, 3, 0, 3, 0, 5, 7, 10, 1, 4, 9, 3])


# TODO: return the average value of our dataset.
def compute_mean(dataset):
    return dataset.mean()

compute_mean(data)

4.391304347826087

In [9]:
data = np.array([1, 3, 5, 2, 3, 7, 8, 4, 10, 0, 6, 7, 3, 0, 3, 0, 5, 7, 10, 1, 4, 9, 3])


def compute_median(dataset):
    
    count = len(dataset)
    dataset = sorted(dataset)
    
    if count < 1:
        return dataset[count]
    if count % 2 == 1:
        return (dataset[count//2] + dataset[(count+1)//2])/2
    else:
        return dataset[count//2]


compute_median(data)

4.0

In [13]:
sns.set(style="white", context="notebook", palette="deep")

COLOR_COLUMNS = ["#66C2FF", "#5CD6D6", "#00CC99", "#85E085", "#FFD966", "#FFB366", "#FFB3B3", "#DAB3FF", "#C2C2D6"]

sns.set_palette(palette=COLOR_COLUMNS, n_colors=4)

In [14]:
df = [1,1,1,0,0,1,0,0,1,1,0]

In [20]:

head_counter = 0
tail_counter = 0

for i in df:
    if i == 1:
        head_counter += 1
    if i == 0:
        tail_counter += 1

In [21]:
head_probability = head_counter/len(df)
tail_probability = tail_counter/len(df)

head_probability

0.5454545454545454

In [22]:
tail_probability

0.45454545454545453

In [23]:
df = pd.read_csv('../datasets/tennis.txt', delimiter="\t", header=None, names= ['a', 'b', 'c', 'd', 'e'])

In [24]:
df

           a     b       c       d    e
1      Sunny   Hot    High    Weak   No
2      Sunny   Hot    High  Strong   No
3   Overcast   Hot    High    Weak  Yes
4       Rain  Mild    High    Weak  Yes
5       Rain  Cool  Normal    Weak  Yes
6       Rain  Cool  Normal  Strong   No
7   Overcast  Cool  Normal  Strong  Yes
8      Sunny  Mild    High    Weak   No
9      Sunny  Cool  Normal    Weak  Yes
10      Rain  Mild  Normal    Weak  Yes
11     Sunny  Mild  Normal  Strong  Yes
12  Overcast  Mild    High  Strong  Yes
13  Overcast   Hot  Normal    Weak  Yes
14      Rain  Mild    High  Strong   No

In [25]:
len(df[(df['d'] == 'Weak') & (df['e']=='Yes')])

6

In [26]:
len(df)

14

In [27]:
6/14

0.42857142857142855

In [28]:

len(df[(df['d'] == 'Strong') & (df['e']=='Yes')])

3

In [29]:
3/14

0.21428571428571427

In [30]:
len(df[(df['d']=='Weak') & (df['e']=='No')])

2

In [31]:
2/14

0.14285714285714285

In [32]:
len(df[(df['d']=='String') & (df['e']=='No')])

0

In [55]:
ds = pd.read_csv('../datasets/tennis.txt', delimiter="\t", header=None, names=['Outlook', 'Temp', 'Humidity', 'Wind', 'Decision'])

In [56]:
ds
# Sunny	Hot	High	Weak	No

     Outlook  Temp Humidity    Wind Decision
1      Sunny   Hot     High    Weak       No
2      Sunny   Hot     High  Strong       No
3   Overcast   Hot     High    Weak      Yes
4       Rain  Mild     High    Weak      Yes
5       Rain  Cool   Normal    Weak      Yes
6       Rain  Cool   Normal  Strong       No
7   Overcast  Cool   Normal  Strong      Yes
8      Sunny  Mild     High    Weak       No
9      Sunny  Cool   Normal    Weak      Yes
10      Rain  Mild   Normal    Weak      Yes
11     Sunny  Mild   Normal  Strong      Yes
12  Overcast  Mild     High  Strong      Yes
13  Overcast   Hot   Normal    Weak      Yes
14      Rain  Mild     High  Strong       No

In [57]:

def c(p1,p2,c1,c2):
    ndf = df[df[p1] == c1][p2]
    s = ndf.unique()
    psize = len(ndf)
    pr = {}
    for i in s:
        pr[i] = len(df[(df[p1] == c1) & (dr[p2]==i)])/psize
        
    return pr